@{
    ViewBag.Title = "Home";
}



<h1" class="h1">Bem vindo ao Sistema de calculo de Inss</h1">

<br>
<br>

<br>

<li>@Html.ActionLink("Consulta regras Inss Por ano", "ConsultaInss", "Home")</li>
<li>@Html.ActionLink("Criar Banco", "CriarBanco", "DataBaseIncial")</li>
<li>@Html.ActionLink("Calcule Inss selecionando ano", "CalculoInssPorAno", "Calculo")</li>
<li>@Html.ActionLink("Consulta Calculo Inss", "ConsultaCalculoInss", "Calculo")</li>
<li>@Html.ActionLink("Calcule Inss automatico", "CalculoInss", "Calculo")</li>
<li>@Html.ActionLink("Cadastro de Inss Por ano", "CadastroInss", "Home")</li>